@import "config"

window {
	location: east;
	anchor: east;
	x-offset: -15;
	y-offset: -50;
	font: "Iosevka Nerd Font Mono 35";
	width: 4%;
}

listview {
	layout: vertical;
	lines: 3;
	padding: 0;
}

mainbox {
	children: [listview];
	padding: 5;
}

element {
	padding: 0 17;
}